@import "./base.css";

#app {
  font-weight: normal;
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

main {
  padding: 2rem 1rem;
  border-top: 1px solid lightgray;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1200px) {
  :root {
    overflow: hidden;
  }

  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }

  main {
    border-left: 1px solid lightgray;
    border-top: none;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
  }
}
